.uu-shoporder__container {
  background: #f3f3f3;
  height: 100%;
  width: 100%;
  & .uu-shoporder__card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 4px 1px 1px #cccccc;
    margin: 8px;
    position: relative;
    height: 100%;
    overflow: hidden;
    & .uu-shoporder__row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      > .icon {
        padding: 10px;
      }
      > .desc__container {
        display: flex;
        flex-direction: column;
      }
      > .desc__inline {
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    }
  }
}
