// @import "../../../assets/css/theme.scss";

.uu-goto-btn {
  position: relative;
  display: inline-block;
  color: #fff;
  font-size: 28px;
  text-align: center;
  border-radius: 8px;
  background: #000;
  overflow: hidden;
}
