.uu-addrbar__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  > .icon {
    padding: 10px;
  }
  > .desc__container {
    display: flex;
    flex-direction: column;
  }
}
