.uu-addrbar__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  > .icon {
    margin-left: 20px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  & .grey {
    background-color: rgb(53, 50, 50);
    box-shadow: 0 0 0 5px #ccc;
  }
  & .yellow {
    background-color: rgb(245, 210, 11);
    box-shadow: 0 0 0 5px rgb(226, 219, 125);
  }

  > .desc__container {
    display: flex;
    flex-direction: column;
  }
}
